/* Styles Import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Genral */
*{
    box-sizing: border-box;
}
body {
    background-color:black;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/* Home Page */
.homeContainer{
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.homeImage{
    width: 100%;
    border-radius: 20px;
}
.homeContent{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.homeDetail{
    text-align: justify;
    text-justify: inter-word;
}

/* Launches Page */
.launchesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.launchesGrid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lgCard {
    margin: 2% 2% !important;
    justify-content: center;
    align-items: center;
}
.launchesCard{
    background: linear-gradient(45deg, #e2e3eead 30%, #798a6f8a 90%);
}
.lgSucceeded {
    border-bottom: 10px solid rgb(32, 180, 32);
}
.lgFailed {
    border-bottom: 10px solid rgb(192, 37, 37);
}
.lgUpComming {
    border-bottom: 10px solid rgb(28, 48, 138);
}
.launchesImage{
    width: 100%;
    align-self: center;
    border-radius: 20px;
}

/* ErrorPage */
.errorPage {
    color: white;
    margin: auto;
    height: 75vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.err404 {
    color: #ffffff;
    font-size: 8rem;
}
.errorMsg {
    text-align: center;
    font-size: 1.2rem;
    left: 16%;
    top: 45%;
    width: 75%;
}
.errorMsg strong{
    color: green;
} 